@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.fancybox {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.practice.container {
    width: 100%;
}
.practice.container .row .col-sm-4.col-md4.col-lg-4 {
    text-align: center;
    border: thin groove #000000;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}
