body {
    font-family: Arial;
}

.container {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
  }

h1 {
    display: grid;
    grid-column-start: 2;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #8b1818;
    font-size: 45px;
  }

p {
    display: grid;
    grid-column-start: 2;
    padding: 5px;
}

.form-container {
    display: grid;
    grid-column-start: 2;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.checkboxes label {
    display: block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
  }
  .checkboxes input {
    vertical-align: middle;
  }
  .checkboxes label span {
    vertical-align: middle;
  }
  
input[type=submit] {
  background-color: #dbcd0c;
  color: rgb(8, 8, 8);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top:8px;
}

input[type=submit]:hover {
  background-color: #f5ea59;
}

