body{
    background: url("https://images.hdqwalls.com/download/geometry-abstract-minimalism-0x-1680x1050.jpg") center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
form {
    background-color: rgb(255, 255, 255);
    width: 650px;
    height: 570px;
    padding: 20px 20px 10px 10px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 2em;
}
h1 {
    margin-left: 70px;
    font-family: 'Fredoka One', cursive;
    color:rgb(57, 57, 81);
    font-weight: bold;
}
form li {
    list-style: none;
    margin-bottom: 5px;
}
form ul li label{
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    padding: 1em;
}
form ul li input, select, span {
    float: left;
    margin-bottom: 10px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form textarea {
    float: left;
    width: 350px;
    height: 150px;
}
[type="submit"] {
    clear: left;
    margin: 20px 0 0 230px;
    font-size:18px 
}
p {
    margin-left: 70px;
    font-weight: bold;
}
