/*-------------------
Style Sheet for {Project name and url}

author: {name}
email: {email}
website: {portfolio}
---------------------*/

/*
	Vendor imports (libs etc)
*/
@import 'vendor/normalize.css';
@import 'vendor/browserupgrade.css';

/*
	Our imports
*/
@import 'lib/nav.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


/*
	Colour Theme
*/

:root {
	--cream: #fef9ef;
	--red: #fe6d73;
	--yellow: #ffcb77;
	--green: #17c3b2;
	--darkerGreen: #10867b;
	--blue: #227c9d;
}


/*
	Generalized styles
*/

* {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--green);
	padding: 10%;
}

h1 {
	text-align: center;
}

#indexNav {

	width: 60%;
	margin: auto;
	/* Center vertically */
	display: flex;
	flex-direction: row;
	align-items: center;
}

.indexNavButton {
	width: 30%;
	min-width: 100px;
	text-align: center;
	padding: 5%;
	margin: auto;
	font-size: x-large;
	color: var(--cream);
	text-decoration: none;
	background-color: var(--red);
	border-radius: 50px;
}

.indexNavButton:hover {
	background-color: #e65c61
}

.indexNavButton:focus {
	outline: black 1px solid;		
	outline-offset: 0px;
	border: none;
}

@media only screen and (max-width: 500px) {
	#indexNav {
		flex-direction: column;
	}

	.indexNavButton {
		margin-bottom: 20px;
	}
  }

form {
	max-width: 500px;
	width: 80%;
	margin: auto;
	background-color: var(--red);
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 50px 50px rgba(0, 0, 0, 0.144);
	color: 	var(--cream);
}

fieldset {
	display: inline;
	padding: 0;
	margin: 10px 0px 10px 0px;
	border: none;

}

fieldset > div {
	display: inline-block;
	width: 100%;
}

legend {
	font-weight:bold;
}

#streetGroup, #countryGroup {width: 100%;}
#stateGroup, #postCodeGroup {width: 20%;}
#suburbGroup {width: 56%;}

label, a#ageHelpLink {
	margin: 10px 0px 3px 10px;
	display: block;
	color: var(--cream);
}

#passwordStrength {
	margin: 0px 0px 0px 10px;
	display: inline-block;
	font-size: small;
}

input:not([type = "submit"]), select {
	padding: 12px 15px;
	box-sizing: border-box;
	border-style: solid;
	width: 100%;
	border-radius: 20px;
	background: var(--cream);
}

  /* Style the submit button */
input[type=submit] {
	background-color: var(--green);
	color: var(--cream);
	padding: 14px 20px;
	margin: auto;
	margin-top: 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	display: inline;
 }

	/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
		background-color: var(--darkerGreen);
	  }

input:valid {
	  border-color: green;
	  border-width: 2px;
}

input:invalid {
	border-color: red;
	border-width: 2px;
}

input:focus-visible {
	outline: none;
	background-color: var(--green);
}

.cardWrangler {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}


div.card {
	max-width: 180px;
	margin: 20px;

	background-color: var(--cream);
	box-sizing: border-box;
	display: block;
	box-shadow: 0 16px 12px -12px black;
}

div.card:focus {
	outline: 0.5px solid var(--red);
}

div.card-title {
	display: block;
	font-weight: bold;
}

div.card-subtitle {
	display: block;
}

div.card-body {
	margin: 10px;
}

div.card-description{
	margin: 10px;
}

.card-showDescription {
	all: unset;
	font-size: 10px;
	font-style: italic;
	display: block;
	margin: auto;
}

.card-showDescription:focus, .card-showDescription:hover {
	outline: none;
	text-decoration: underline;
	
}

.card-descriptionText {
	font-size: small;
	display: none;
	margin: none;
}

div.card-addCartGroup {
	margin: 10px 0px;
}

.card-quantitySelectGroup {
	background-color: var(--cream);
	display: inline-flex;
	padding: 0px;
	height: 20px;
	width: 63px;
	border: 0.5px rgba(0, 0, 0, 0.365) solid;
	border-radius: 5px;
	overflow: hidden;
	vertical-align: top;
}

.quantityButton  {
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	border: none;
	width: 20px;
	height: 20px;
	border-spacing: 0px;
}

.quantityButton:focus {
	background-color: rgba(0, 0, 0, 0.194);
}
.quantityButton:hover {
	background-color: rgba(0, 0, 0, 0.194);
}

div.card input {
	all: unset; 
	font-size: 10px;

	width: 23px;
	height: 20px;

	padding-left: 5px;
	margin-top: 0px;
	border: none;
	display: block;
	box-sizing: border-box;

}

.card-addCartButton {
	height: 21px;
	border: 0.5px rgba(0, 0, 0, 0.365) solid;
	float: right;
	margin-right: 10px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0);
	font-size: 10px;
}

.card-addCartButton:hover {
	background-color: rgba(0, 0, 0, 0.194);
}

.card-addCartButton:focus {
	outline: none;
	background-color: rgba(0, 0, 0, 0.194);
}

.card-AllAllergies {
	display: flex;
	justify-content: center;
}

.card-foodAllergies {
	width: 20px;
	height: 20px;
	margin: 10px 5px;
}

